# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Profiling data
.prof

# Jupyter Notebook
.ipynb_checkpoints/

# Local env files
.env
.env.*
*.env

# Logs
*.log

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
desktop.ini

.pytest_cache
dump.rdb
tasks.db